body {
  color: aliceblue;
}

#layout {
  padding: 0;
  margin: auto;
  width: 1024px;
  position: relative;
}

main {
  margin: 0;
  padding: 0;
  width: 750px;
}

aside {
  background-color: aqua;
  width: 250px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  color: rgba(0, 0, 0, .54);
}