#layout {
  padding: 0;
  margin: auto;
  width: 1024px;
  position: relative;
}

main {
  margin: 0;
  padding: 0;
  width: 750px;
}

aside {
  background-color: #CFD8DC;
  width: 250px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 10px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.125;
}