@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.header-shadow {
  height: 20px;
  background: #455A64;
}

.form-container {
  padding: 15px 0 15px 20px;
  display: flex;
  flex-direction: column;
  border-left: #BDBDBD 5px solid;
  border-bottom: #BDBDBD 5px solid;
  margin-top: 10px;
}

.btn-row {
  display: inline-flex;
  align-items: center;
  padding-top: 5px;
}

.highlight {
  background-color: #ff4436;
}

header {
  background-color: #607D8B;
  color: #FFFFFF;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  padding-left: 10px;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

body {
  background: #fff;
  margin: 0;
  color: #212121;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

.mat-raised-button {
  margin-right: 10px !important;
}

.mat-raised-button.mat-accent {
  background-color: #03A9F4;
}

.mat-input-element {
  color: #212121;
}

.mat-focused .mat-form-field-label {
  color: #757575;
}

.mat-form-field-ripple {
  background-color: #757575;
}

.mat-form-field {
  display: block !important;
}